{% extends "shorturl/base.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Link</label>
        <input name="link" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Shorten</button>
    </form>
    {% if new_url %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Short Link</label>
          <input name="link" type="text" value= {{new_url}} class="form-control" id="myInput" aria-describedby="emailHelp" readonly>
        </div>
        <button onclick="myFunction()" class="btn btn-primary">COPY</button>
    {% else %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Short Link</label>
            <input name="link" type="text" class="form-control" id="myInput" aria-describedby="emailHelp" readonly>
        </div>
        <button onclick="myFunction()" class="btn btn-primary">COPY</button>
          
    {% endif %}
{% endblock content %}

    